<div class="slider-frame">
  <ul>
    <li><img src="icons/servicios1.jpg" alt="" loading="eager"></li>
    <li><img src="icons/img3.jpg" alt="" loading="eager"></li>
    <li><img src="icons/img4.jpg" alt="" loading="eager"></li>
    <li><img src="icons/img5.jpg" alt="" loading="eager"></li>
  </ul>
</div>

<div class="video-container">
  <video controls loop muted playsinline width="80%" height="80%" preload="none">
    <source src="icons/video.mp4" type="video/mp4">
  </video>
</div>

<section>
  <div class="card">
    <h1 class="text1">Soluciones energéticas Innovadoras</h1>
    <img src="icons/equipo.jpg" alt="Equipo" loading="lazy">
    <p class="paragraph">Somos una empresa colombiana dedicada a brindar soluciones inteligentes y
      tecnológicas acorde a sus necesidades, utilizamos herramientas, equipos y materiales
      totalmente certificados y de la mejor calidad para garantizar un excelente servicio,
      personal altamente calificado, en constante capacitación y con la experiencia requerida
      para asegurar el mejor servicio prestado</p>
    <button class="btn"><a routerLink="/servicios">Conoce nuestros servicios</a></button>
  </div>
</section>

<section>
  <div class="card">
    <h1 class="text1">Conoce nuestra empresa y como trabajamos!</h1>
    <img src="icons/img25.jpg" alt="Equipo" loading="lazy">
    <p class="paragraph">Conoce más sobre nosotros y nuestra empresa, somos un equipo confiable y capaz.
      Contamos con la mejor tecnología e ingeniería de vanguardia con años de experiencia y con un equipo altamente capacitado
    </p>
    <button class="btn"><a routerLink="/sobre-nosotros">Quiénes Somos</a></button>
  </div>
</section>




